<div class="col-1">
	<h1>Learn More</h1>
	<p>Welcome to a new way of experiencing adventure.</p>
	<p>Adventure box is a delivery of 4 to 6 curated items around a surprise adventure theme each month.</p>
	<p>We hand pick the best adventures based off of famous movies, literature, and legendary stories. When you fall in love with a package, you can easily find it again on our app or by dropping a message. And if you're not satisfied with the adventure that came in the box, we'll fix it. Scout's Honor.</p>
</div>
<div class="col-1">
	<h1>Our Story</h1>
	<p>Since our start in 2016, we've worked with local and independent businesses to find unique and fun products. We only work with vendors who care deeply about the importance of fulfilling the human condition. We design many of the products ourselves through real experiences.</p>
	<div class="col-3">
		<h1>insert your profile pic here</h1>
		<p>Alex, cofounder</p>
		<p>"When we started working together we really didn't know where to start. We came from different parts of the world and we all liked adventure so we just took it from there."</p>
	</div>
	<div class="col-3">
		<h1>insert your profile pic here</h1>
		<p>Ben, cofounder</p>
		<p>"There's a lot of work that goes on behind the scenes. We're constantly researching what's fun and what can get people really excited while leaving a meaningful impact.</p>
	</div>
	<div class="col-3">
		<h1>insert your profile pic here</h1>
		<p>Alex, cofounder</p>
		<p>"It's not just an itinerary and some items we ship in a box and send out to someone's front door. It's challenges, mysteries, and life-long lessons by the end of your experience."</p>
	</div>
</div>