<div class="col-1">
	<h1 class="about_h1">About Us</h1>
</div>

<div class="col-1" id="aboutpagetext">
	<p>Not Tryna Quit is a monthly delivery service of high quality, hand-rolled filtered, 100% pure organic tobacco cigarettes. That means no additives or harmful chemicals. That means no longer having to deal with outrageous state taxes or going out to the corner store to buy a pack. We believe in providing a superior smoking experience for our customers. We know smoking is bad for you, but some of us are just not tryna quit. So if you're gonna die from smoking, do it the best way possible by smoking the highest quality cigarettes in the world.</p>
</div>

<div class="col-1">
	<p class="aboutBox_h1">Here's How It Works</p>
	<div class="col-3">
		<p class="aboutBox_p">Sign up</p>
		<p class="aboutBox_p">Fill out our form, not tryna quit is a monthly subscription. Cancel any time. Free shipping.</p>
	</div>
	<div class="col-3">
		<p class="aboutBox_p">Choose a plan</p>
		<p class="aboutBox_p">Our plans fit a range of smokers. We replace any damaged/worn goods with no extra cost.</p>
	</div>
	<div class="col-3">
		<p class="aboutBox_p">Get your box</p>
		<p class="aboutBox_p">Schedule when you would like your box to arrive each month straight to your doorstep.</p>
	</div>
</div>
<div class="col-1">
	<p class="aboutBox_h1">Limited Edition</p>
	<div class="col-2">
		<img class="aboutImg" src="/images/stussy_2.jpg" width="80%">
		<p class="aboutBox_p">We've partnered up with Stüssy to bring you some fresh gear. For a limited time only, our first 100 sign ups get our NQT cigarette case & zippo lighter and the Stüssy custom models.</p>
	</div>
	<div class="col-2">
		<img class="aboutImg" src="/images/stussy_1.jpg" width="80%">
		<p class="aboutBox_p">All our cigarette cases are made with a stainless, waterproof, aluminum alloy. All plans come standard with a cigarette case, zippo lighter, and hand-rolled cigarettes.</p>
	</div>
</div>

<div class="col-1">
	<h1 class="aboutBox_h1">Contact</h1>
		<form class="contact">
			<p class="aboutBox_p">Name</p>
				<input type="text" name="name" class="contactus">
			<p class="aboutBox_p">Email</p>
	  			<input type="text" name="lastname" class="contactus">
	  		<p class="aboutBox_p">Message</p>
	  			<input type="text" class="contactus"><br>
	  			<input type="button" value="Submit" class="contactusButt" id="contactSubmit">
	  	</form>
</div>




<!-- <div id="companyinfo">
	<p id="aboutpagetext">
		<div id="aboutBox">
			COMPANY INFO</br>
			COMPANY INFO</br>
			COMPANY INFO</br>
			COMPANY INFO</br>
			COMPANY INFO</br>
			COMPANY INFO</br>
			COMPANY INFO</br>
		</div>
	</p>
</div> -->