
<div class="col-1" id="form">
	<form id="my_form">
		<p>Name: <input type="text" name="_name" align="right" required class="left"></p>
		<p>Address 1: <input type="text" name="" align="right" required class="left"></p>
		<p>Address 2: <input type="text" name="" align="right" required class="left"></p>
		<p>City: <input type="text" name="" required class="left"></p>
		<p>State: <input type="text" name="" required class="left"></p>
		<p>C/C Number: <input type="text" align="right" name="" required class="left"></p>
		<p>Exp Date: <input type="month" name="" required class="left"></p>
		<p>CRV: <input type="text" align="right" name="" required class="left"></p>
		<p>Email Address: <input type="text" align="right" id="em1" required class="left"></p>
		<p>Confirm Email: <input type="text" align="right" id="em2" required class="left"></p>
		<p id="choose">Choose Bundle:
			<div id="bundle_input" class="left">
				<input type="radio" name="choice" value="male" checked required> Light<br>
				<input type="radio" name="choice" value="female" required> Bold<br>
				<input type="radio" name="choice" value="other" required> Heavy  <br>
  			</div>
		</p>
		<p id="submitButton"><input id="sb_btn" type="submit"></p>
	</form>
</div>
