<div id="text">
	<p id="NTQ">
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>			
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>
				<b>NTQ is a subscription service where you can order anything smokeable online</b></br>		
		</p>
</div>
