<!DOCTYPE html>
<html>
<head>
	<title>adventure-box</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

	<header>
		<a href="/">
			<div id="logo">	
				<span id="s1">NOT</span>
				<span id="s2">TRYNA</span>
				<span id="s3">QUIT</span>
			</div>
		</a>
			<nav>
				<a href="/">Home</a>
				<a href="/product">Product</a>
				<a href="/form">Form</a>
				<a href="/about">About</a>
			</nav>
	</header>

	<%= yield %>

	<div class="footer">
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="main.js" type="text/javascript"></script>
</body>
</html>