<!DOCTYPE html>
<html>
<head>
	<title>Got Smokes?</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

    <nav>
      <h1>NOT TRYNA QUIT</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Learn</a></li>
        <li><a href="/product">The Products</a></li>
        <li><a id="GS" href="/form">Get Started</a></li>
      </ul>
    </nav>

	<%= yield %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="main.js" type="text/javascript"></script>
	<script src="form_valid.js" type="text/javascript"></script>
</body>
</html>