<div class="col-1">
	<h1>Explore</h1>
	<% 3.times do %>		
	<div class="col-3">
	<a href="#" id="modal-link">insert images</a>
	</div> 
	<% end %>
</div>

<div id="modal-bg">
</div>
<div id="modal">
	<div id="header">
		<a href="#" id="x-link">x</a>
	</div>	
	<p>This package includes:</p>
	<ul>
		<li>this</li>
		<li>that</li>
		<li>this</li>
	</ul>
</div>

