<div class="col-1">
	<h1 id="shop_h1">Shop</h1>
</div>
<div class="col-1" id="shop_light">
	<div class="col-2">
		<img class="shop_img" src="/images/Encendiendo-Cigarro-72340.gif" width="100%">
	</div>
	<div class="col-2">
		<h2 id="shop_light_text">light</h2>
		<p class="shop_p">ideal for the casual smoker</p><br><br><br><br><br><br><br>
	</div>
</div>
<div class="col-1" id="shop_bold">
	<div class="col-2">
		<img class="shop_img" src="/images/tumblr_n99z5cS3lB1s9eneuo1_500.gif" width="100%">
	</div>
	<div class="col-2">
		<h2 id="shop_bold_text">bold</h2>
		<p class="shop_p">our basic package</p><br><br><br><br>
	</div>
</div>
<div class="col-1" id="shop_heavy">
	<div class="col-2">
		<img class="shop_img" src="/images/tumblr_myf9ps4GK81sjpiz5o1_500.gif" width="100%">
	</div>
	<div class="col-2">
		<h2 id="shop_heavy_text">heavy</h2>
		<p class="shop_p">the life-time package</p><br><br><br><br><br><br>
	</div>
</div>

	<div class="shop-modal-bg">
	</div>

	<div id="shop-light-modal">
		<div class="shop-modal-header">
			<a href="#" class="close-button">x</a>
		</div>
		<p>includes:</p>
		<ul>
			<li>100 hand-rolled filtered cigarettes</li>
			<li>custom engraved zippo lighter</li>
		</ul>		
	</div>

	<div id="shop-bold-modal">
		<div class="shop-modal-header">
			<a href="#" class="close-button">x</a>
		</div>
		<p>includes:</p>
		<ul>
			<li>10000 hand-rolled filtered cigarettes</li>
			<li>custom engraved zippo lighter w/ warranty</li>
			<li>zippo maintenance kit w/ lighter fluid</li>
			<li>custom engraved cigarette case</li>
			<li>ray-ban sunglasses</li>
		</ul>	
	</div>

	<div id="shop-heavy-modal">
		<div class="shop-modal-header">
			<a href="#" class="close-button">x</a>
		</div>
		<p>includes:</p>
		<ul>
			<li>unlimited hand-rolled filtered cigarettes</li>
			<li>custom engraved zippo lighter w/ warranty</li>
			<li>zippo maintenance kit w/ lighter fluid</li>
			<li>custom engraved cigarette case</li>
			<li>ray-ban sunglasses</li>
			<li>gold ashtray</li>
		</ul>	
	</div>
</div>














