<div id="confBox"> 
	<div id="confBox_content">
		<h1 id="h1_CP">Order Successful!</h1>
		<p>Thank you for your order. <br><br> You will receive an email notification shortly. <br><br> If you believe there are issues with your order,<br> please contact us! <br><br>  Contact info can be found on the <a href="/about">About</a> page.</p>
	</div>
</div>
