/*GLOBAL SETTINGS*/

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header {
	width: 100%;
	margin: 0;
}

.header > .navbar {
	border-bottom: 2px #f0f0f0 solid;
	width: 100%;
	margin: 0;
	padding: 0;
}

.header > .navbar > ul {
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #6ada8e;
	display: inline-block;
}

h1 {
	font-size: 65px;
}

p {
	font-size: 26px;
	font-weight: lighter;
}



/*GRID LAYOUT*/

.col-1 {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.col-2 {
	width: 48%;
	height: 100%;
	margin-left: 1%;
	display: inline-block;
}

.col-3 {
	width: 30%;
	height: 100%;
	margin-left: 2.25%;
	display: inline-block;
}


/*SHOP PAGE MODAL*/

#modal-bg {
	position: absolute;
	background-color: #b75454;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .5;
	display: none;
}



#modal {
	position: fixed;
	background-color: #f0f0f0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 10% auto;
	width: 400px;
	height: 400px;
	/*border-top: 35px #aaa solid;
	border-bottom: 35px #aaa solid;*/
	display: none;
	z-index: 5;
	box-shadow: 0 10px 10px 0 #888888, 0 10px 20px 0 #888888;
}

#modal > p {
	font-family: Arial, sans-serif;
	font-size: 26px;
	color: #000;
	letter-spacing: 2px;
	margin: 0 20px;
}

#modal > #header {
	text-align: right;
	border-bottom: 2px #aaa solid;
	padding: 20px;
	margin-bottom: 80px;
}

#modal > #header > a {
	text-decoration: none;
	font-size: 30px;
	padding-bottom: 5px;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #aaa;
}

#modal > #header > a:hover {
	color: #993232;
}

#modal > #header > a:active {
	font-weight: bolder;
}
