/*GLOBAL SETTINGS*/

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.header {
	width: 100%;
	margin: 0;
}

.header > .navbar {
	border-bottom: 2px #f0f0f0 solid;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

.header > .navbar > ul {
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #000;
	display: inline-block;
}

h1 {
	font-size: 65px;
}

p {
	font-size: 26px;
	font-weight: lighter;
}



/*GRID LAYOUT*/

.col-1 {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.col-2 {
	width: 48%;
	height: 100%;
	margin-left: 1%;
	display: inline-block;
}

.col-3 {
	width: 30%;
	height: 100%;
	margin-left: 2.25%;
	display: inline-block;
}


/*SHOP PAGE CODE*/

#shop_h1 {
	text-align: center;
	padding-bottom: 3%;
	border-bottom: 2px #f0f0f0 solid;
}

#shop_light {
	margin: 5% auto;
}

#shop_light_text {
	font-weight: lighter;
	font-size: 45px;
	opacity: .5;
	text-align: center;
}

#shop_bold {
	margin: 5% auto;
}

#shop_bold_text {
	font-weight: bold;
	font-size: 45px;
	opacity: .7;
	text-align: center;
}

#shop_heavy {
	margin: 5% auto;
}

#shop_heavy_text {
	font-weight: bolder;
	font-size: 45px;
	text-align: center;
}

.shop_p {
	text-align: center;
}

.shop_img {

}



